PORT=3000
ADMIN_SECRET=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_KEY=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
FIREBASE_SERVICE_ACCOUNT={"type":"service_account"}
BILLING_PLAN_CATALOG_JSON=
ROBOKASSA_MERCHANT_LOGIN=
ROBOKASSA_PASSWORD_1=
ROBOKASSA_PASSWORD_2=
ROBOKASSA_HASH_ALGORITHM=sha256
ROBOKASSA_INVOICE_START=
ROBOKASSA_TEST_MODE=true
